:root {
  --yellow: #fbf3ab;
  --light-pink: #f0b9dd;
  --lavender: #c7b9ff;
  --deep-pink: #f04c86;
  --red: #ff0000;
  --dark-red: #c91c1c;
  --raisin: #2b283a;
  --white: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

.flex {
  background: var(--lavender) url("images/heart.png") no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex * {
  margin: 3em;
}

body {
  height: 100vh;
  font-family: "Karla", sans-serif;
}

button {
  font-family: inherit;
  font-size: 1.25rem;
  border: none;
  color: var(--white);
  background: var(--dark-red);
  padding: 1.15em 0.4em;
  position: relative;
  top: -15.5%;
  text-transform: uppercase;
}

button:hover,
button:focus {
  transform: scale(1.02);
  cursor: pointer;
}

/* heart styles */
.heart {
  background: var(--dark-red);
  display: inline-block;
  height: 100px;
  width: 100px;
  position: relative;
  top: 8%;
  transform: rotate(-45deg);
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  background: var(--dark-red);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.heart:before {
  top: -50px;
  left: 0;
  border-top: 2px solid var(--red);
  border-right: 2px solid var(--red);
}

.heart:after {
  left: 50px;
  top: 0;
  border-right: 2px solid var(--red);
}
